<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS styling -->
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <title>Weather application</title>
</head>
<body>
    <div class="weather">
        <span>In Mumbai Temperature is 27.3 Degree C</span>
    </div>
    <div class="container">
        <h2>Wheather App</h2>
        <form action="" method="post">
            <input type="text" placeholder="Enter city/country name">
            <button class="btn" >Search</button>    
        </form>
    </div>
</body>
</html>